In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pylab as plt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

from dmba import plotDecisionTree, classificationSummary, regressionSummary
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge

no display found. Using non-interactive Agg backend

In [4]:
market = pd.read_csv('marketing_campaign.csv')

In [5]:
market.head(10)

  ID;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;AcceptedCmp3;AcceptedCmp4;AcceptedCmp5;AcceptedCmp1;AcceptedCmp2;Complain;Z_CostContact;Z_Revenue;Response
0  5524;1957;Graduation;Single;58138;0;0;2012-09-...
1  2174;1954;Graduation;Single;46344;1;1;2014-03-...
2  4141;1965;Graduation;Together;71613;0;0;2013-0...
3  6182;1984;Graduation;Together;26646;1;0;2014-0...
4  5324;1981;PhD;Married;58293;1;0;2014-01-19;94;...